body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .mainHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 4rem;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

} */

/* .loginForm{
  position: absolute;
  top: 5rem;
}
.loginForm{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  
}
.loginForm>fieldset>form>input{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0; 
}
.loginForm>fieldset>form>input:nth-child(3){
  background-color: rgb(110, 110, 255);
  color: #fff;
  height: 2rem;
  width: 4rem;
  border: 1px solid white;
  border-radius: 25px;
  box-shadow: 0 0 0.2rem rgb(110, 110, 255);
} */
